# Diretórios de build
bin/
obj/

# Arquivos de configuração da IDE
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos de dependência do NuGet
.nuget/

# Arquivos temporários de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log
